!!!
%html

  %head
    %title Racetrack
    = stylesheet_link_tag('all')
    = javascript_include_tag('all')

  %body
    %main
      %header
        %h1 Racetrack

      #errors

      #content
        %nav
          %h3 Saved Benchmarks
          .saved-benchmarks

        %section#stage
          #progress

          #chart.bar-chart(data-source="#results" data-options="getChartOptions" style="display: none;")

          %table#results
            %thead
              %tr
                %th Implementation

            %tbody

          .editors
            %fieldset
              .title
                %label Enter a title
                %input(type="text" name="title" placeholder="e.g., map() N values")

              .input-sizes
                %label Input sizes, comma-delimited
                %input(type="text" name="input-sizes" placeholder="e.g., 10, 100, 1000")

            %nav
              %ul.nav.nav-tabs
                %li.active= link_to("Setup", "#setup")
                %li= link_to("Lazy", "#lazy")
                %li= link_to("Underscore/Lo-Dash", "#underscore")

            %section#setup.active
              %textarea
                :preserve
                  // Setup code
                  var array = _.range(N);

                  function identity(x) { return x; }
                  function noop(e) {}

            %section#lazy
              %textarea
                :preserve
                  // Lazy code
                  Lazy(array).map(identity).each(noop);

            %section#underscore
              %textarea
                :preserve
                  // Underscore/Lo-Dash code
                  _.each(_.map(array, identity), noop);

          .actions
            %button#new-benchmark New
            %button#run-benchmarks Run
            %button#save-benchmarks Save

      %script#benchmark-template(type="text/plain")
        :plain
          (function(suite) {
            var benchmark = new Benchmark("<%= name %>", {
              setup: function() {
                var N = <%= inputSize %>;
                <%= setup %>
              },
              fn: function() { <%= code %> },
            });

            benchmark.inputSize = <%= inputSize %>;

            suite.add(benchmark);
          }(suite));
